/* style.css */

body {
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjust column widths */
    grid-template-rows: auto;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    grid-area: header;
    background-color: #63B3ED;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    grid-area: main;
}

.main-content {
    display: flex;
    flex-direction: column;
}

article {
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    color: #48BB78;
}

p {
    color: #718096;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

aside {
    grid-area: sidebar;
    background-color: #E2E8F0;
    padding: 20px;
}

h3 {
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Position the blog posts on the left */
.blog-posts {
    margin-right: 20px; /* Add margin to separate from the sidebar */
}

/* Style the about, social media, and archives sections */
.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
}

/* Style the links in the sidebar */
.social-media a,
.archives a {
    color: #4299E1;
}

footer {
    grid-area: footer;
    background-color: #2C5282;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}
