/* style.css */

body {
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto;
    grid-template-areas: "header header" "header in" "main sidebar" "footer footer" ;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    grid-area: header;
    background-color: #63B3ED;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    grid-area: main;
}

.blog-posts {
    display: flex;
    flex-direction: column;
}

article {
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    color: #48BB78;
}

p {
    color: #718096;
}

aside {
    grid-area: sidebar;
    background-color: #E2E8F0;
    padding: 20px;
}

h3 {
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.social-media a,
.archives a {
    width: 220px;
    color: #4299E1;
}

/* Additional styles for the sidebar */
.sidebar-content {
    width: 220px;
    /* display: ;*/
   /* flex-direction: column;*/
    /* align-items: flex-start;*/
}

/* Style the links in the sidebar */
.social-media a,
.archives a {
    width: 220px;
    color: #4299E1;
}

footer {
    grid-area: footer;
    background-color: #2C5282;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}
